<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.oa.dao.MenuDao">
	
	<resultMap type="MenuEntity" id="menuMap" autoMapping="true">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="remark" column="remark" />
		<result property="createTime" column="create_time" />
	</resultMap>


	<insert id="insert" statementType="CALLABLE">
	 insert into sys_menu (id, code, name, 
      icon, url, parent_id, remark, 
      show_order, flag, create_user_id, 
      create_time)
    values (#{id,jdbcType=CHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{parentId,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, 
      #{showOrder,jdbcType=VARCHAR}, #{flag,jdbcType=TINYINT}, #{createUserId,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
	</insert>

	<delete id="delete">
		delete from sys_menu where id=#{xxxxxxxxxxxxx}
	</delete>

	<update id="update">
	 update sys_menu
    <set>
      <if test="map.code != null">
        code = #{map.code,jdbcType=VARCHAR},
      </if>
      <if test="map.name != null">
        name = #{map.name,jdbcType=VARCHAR},
      </if>
      <if test="map.icon != null">
        icon = #{map.icon,jdbcType=VARCHAR},
      </if>
      <if test="map.url != null">
        url = #{map.url,jdbcType=VARCHAR},
      </if>
      <if test="map.parentId != null">
        parent_id = #{map.parentId,jdbcType=CHAR},
      </if>
      <if test="map.remark != null">
        remark = #{map.remark,jdbcType=VARCHAR},
      </if>
      <if test="map.showOrder != null">
        show_order = #{map.showOrder,jdbcType=VARCHAR},
      </if>
      <if test="map.flag != null">
        flag = #{map.flag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
	</update>


	<select id="select" resultMap="menuMap">
		select
		*
		from sys_menu where ${column}=#{value}
	</select>
	
	

	<select id="exists" resultType="boolean">
		select count(*)>0
		from sys_menu
		where ${list[0]}=#{list[1]}
	</select>
	
	<select id="selectByUserId" resultMap="menuMap">
		select distinct m.*
		from sys_menu m join sys_role_has_menu rm on rm.menu_id=m.id
		join sys_role r on r.id=rm.role_id
		join sys_user_has_role ur on ur.role_id=r.id
		join sys_user u on u.id=ur.user_id
		where u.id=#{userId}
		order by m.show_order 
	</select>

</mapper>